{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
<div class="product-detail-container">
    <link href="{% static "css/detail.css" %}" rel="stylesheet">
    <!-- Ruta de navegación para mejorar la experiencia de usuario -->
    <div class="breadcrumb">
        {{ product.category }} / {{ product.name }}
    </div>
    <!-- Contenedor del producto -->
    <div class="product">
        <!-- Sección de imágenes del producto -->
        <style>
            .main-image {
                width: 250px;          /* Ancho fijo */
                height: 350px;        /* Alto fijo */
                object-fit: cover;    /* Cubre todo el área de la imagen sin distorsión */
                border-radius: 7px;
            }
        </style>
        
        <div class="product-images">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" 
                 alt="{{ product.name }}" class="main-image" id="main-image">
        </div>
        

        <!-- Información del producto -->
        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <p class="category">
                <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
            </p>
            <p class="price">${{ product.price }}</p>
            
            {% if product.offer %}
                <div class="description">
                    <h3> Offert! {{product.offer.discount}}% OFF </h3>
                </div>
            {% endif %}
            
            <!-- Descripción del producto -->
            <div class="description">
                <h3>Description</h3>
                <p>{{ product.description|linebreaks }}</p>
            </div>
            
            <!-- Formulario para agregar al carrito -->
            <form action="{% url "cart:cart_add" product.id %}" method="post" class="add-to-cart-form">
                {{ cart_product_form }}
                {% csrf_token %}
                <br>
                <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
            </form>

        </div>
    </div>
</div>

<!-- Script para cambiar la imagen principal -->
<script>
    function changeMainImage(src) {
        document.getElementById('main-image').src = src;
    }
</script>

{% endblock %}
