{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div class="product-list-page">
        <link href="{% static "css/list.css" %}" rel="stylesheet">
        <aside class="sidebar">
            <h3>Categories</h3>
            <ul>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shop:product_list" %}">All</a>
                </li>
                {% for c in categories %} 
                    <li {% if category and category.slug == c.slug %}class="selected"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </aside>

        <div class="product-list">
            <!-- Formulario de búsqueda -->
            <form method="GET" action="{% url 'shop:product_list' %}">
                <input type="text" name="q" placeholder="Search products" value="{{ request.GET.q }}">
                <button type="submit">Search</button>
            </form>

            <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
            <div class="products">
                {% for product in products %}
                    <div class="product-item">
                        <a href="{{ product.get_absolute_url }}" class="product-link">
                            <div class="product-image-container">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
                                
                                <!-- Etiqueta de oferta -->
                                {% if product.offer %}
                                    <span class="offer-label">{{ product.offer.discount }}% OFF</span>
                                {% endif %}
                            </div>
                            <h3>{{ product.name }}</h3>
                            <p class="price">${{ product.price }}</p>
                        </a>
                    </div>
                {% empty %}
                    <p>No products found.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

